.band
{
  background-color: #232323;
  height: 100px;
}
.head
{
  background-color: #1b6e76;
}
h1
{
  color: white;
}
nav
{
  text-align: right;
  color: white;
}
h3
{
  color: white;
}
body
{
  margin: 0px;
}
