.band
{
  background-color: #232323;
  height: 15px;
}
.logo
{
  position: absolute;
  top: 55px;
  left: 20px;
  width: 100px;
  height: 100px;
}
.head
{
  background-color: #1b6e76;
}
h1
{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}
nav
{
  font-family: 'Roboto', sans-serif;
  text-align: right;
  margin-right: 90px;
  color: white;
}
h2
{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 0;
}
section
{
text-align: center;
background-color: white;
padding-top: 30px;
padding-bottom: 30px;
}
a
{
  text-decoration: none;
  color: white;
}
body
{
  background-color: #232323;
  margin-left: 0;
  margin-right: 0;
}
.foot
{
  text-align: center;
  background-color: #232323;
  padding-top: 50px;
}
.email
{
width: 600px;
height: 22px;
border-radius: 2px 2px 2px 2px;
}
.button
{
  font-size: 10px;
  background-color: #1b6e76;
  color: white;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 50px;
  border: none;
}
